<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description"
        content="A student-led speedrunning marathon in the UK supporting SpecialEffect starting mid-February 2021."/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#8338EC"/>

  <title>Warwick's Awesome Speedruns and Demos Summer 2021</title>

  <!-- IE10 Tile -->
  <meta name="msapplication-TileColor" content="#8338EC">
  <meta name="msapplication-TileImage" content="http://localhost:8080/dist/favicon-144.png"

  <!-- IE11 Tile -->
  <meta name="application-name" content="WASD2021 Website">
  <meta name="msapplication-tooltip" content="Warwick's Awesome Speedruns and Demos Summer 2021 website">
  <meta name="msapplication-config" content="http://localhost:8080/dist/ieconfig.xml">

  <!-- Apple touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="http://localhost:8080/dist/favicon-180.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://localhost:8080/dist/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://localhost:8080/dist/favicon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://localhost:8080/dist/favicon-76.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://localhost:8080/dist/favicon-57.png">

  <!-- Favicons -->
  <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="http://localhost:8080/dist/favicon.ico">
  <link rel="icon" sizes="228x228" href="http://localhost:8080/dist/favicon-228.png">
  <link rel="icon" sizes="128x128" href="http://localhost:8080/dist/favicon-128.png">
  <link rel="icon" sizes="96x96" href="http://localhost:8080/dist/favicon-96.png">
  <link rel="icon" sizes="32x32" href="http://localhost:8080/dist/favicon-32.png">
  <link rel="shortcut icon" sizes="196x196" href="http://localhost:8080/dist/favicon-chrome-196.png">
  <link rel="mask-icon" href="http://localhost:8080/dist/icon.svg" color="#8338EC">

  <link rel="stylesheet" href="http://localhost:8080/dist/css/wasd.bundle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="cannonical" href="https://warwickspeed.run">

  <meta property="og:image" content="http://localhost:8080/dist/img/og-avatar.png">
  <meta property="og:image:width" content="400px">
  <meta property="og:image:height" content="400px">
  <meta property="og:title" content="Warwick's Awesome Speedruns and Demos Summer 2021">
  <meta property="og:type" content="website">
  <meta property="og:determiner" content="">
  <meta property="og:description"
        content="A student-led speedrunning marathon in the UK supporting SpecialEffect starting 14th August 2021.">
  <meta property="og:locale" content="en_GB">
  <meta property="og:url" content="https://warwickspeed.run">
<body>
<section class="hero wasd-gradient">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" target="_blank" href="https://warwickspeed.run/vods">VODs</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" target="_blank" href="https://warwickspeed.run/discord"><i class="fab fa-discord"></i>
            Discord</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero-body">
    <div class="hero-streaks">
      <div class="size-3 grad-1 op-100 pos-1"></div>
      <div class="size-1 grad-6 op-79 pos-2"></div>
      <div class="size-4 grad-7 op-74 pos-3 above"></div>
      <div class="size-2 grad-4 op-58 pos-4"></div>
      <div class="size-6 grad-8 op-74 pos-5"></div>
      <div class="size-5 grad-9 op-76 pos-6"></div>
      <div class="size-1 grad-3 op-64 pos-7 is-hidden-mobile"></div>
      <div class="size-2 grad-3 op-61 pos-8 above is-hidden-mobile"></div>
      <div class="size-5 grad-5 op-100 pos-9 is-hidden-mobile"></div>
      <div class="size-7 grad-2 op-82 pos-10 is-hidden-mobile"></div>
      <div class="size-5 grad-10 op-83 pos-11 is-hidden-mobile"></div>
    </div>
    <div class="container">
      <div class="hero-items">
        {{ wasd_keys_logo }}
        <hr class="hero-divider"/>
        <p>A student-led speedrunning marathon in the UK supporting <a target="_blank"
                                                                       href="https://specialeffect.org.uk">SpecialEffect</a>.
        </p>
        <p id="countdown"><strong>WASD Summer</strong> starts on <strong>14th August 2021</strong> in <strong id="days">93 days</strong>, <strong id="hours">15
          hours</strong> and <strong id="mins">23 minutes</strong></p>
      </div>
    </div>
  </div>
  <svg id="hero-wave-mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 142">
    <g fill="none" fill-rule="evenodd">
      <path class="wave-tint"
            d="M0 142h1440V30.9999997c-168.30243 38.8000679-331.54474 59.2070567-489.726918 61.2209662C712.999813 95.2418302 501.330499 8.35625208 334.252643.97570722 222.867406-3.94465603 111.449858 12.4778854 0 50.2433316V142z"/>
      <path class="wave-mask"
            d="M0 142h1440.76408V41.7496602c-217.4358 50.4864131-406.47299 77.1638928-567.111578 80.0324388-240.957881 4.302819-367.332301-78.675841-534.410157-86.0563858C227.857108 30.8053499 114.776326 39.1241339 0 60.6820651V142z"/>
    </g>
  </svg>
</section>
<section id="about" class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <div class="content">
          <h1 class="title is-size-2">Warwick's Awesome Speedruns and Demos</h1>
          <hr class="title-divider"/>
          {{ intro }}
        </div>
      </div>
      <div id="stopwatch-column" class="column is-4 is-flex-tablet is-hidden-mobile">
        {{ stopwatch_svg }}
      </div>
    </div>
    <div class="logo-level">
      <h4 class="title is-size-4">Partners</h4>
      {{ partners_list }}
    </div>
    {% if sponsors_list %}
    <div class="logo-level">
      <h4 class="title is-size-4">Sponsors</h4>
      {{ sponsors_list }}
    </div>
    {% endif %}
    <div class="logo-level">
      <h4 class="title is-size-4">Supporting</h4>
      <div class="logos">
        <a class="large" href="https://www.specialeffect.org.uk/">
          <img src="http://localhost:8080/dist/img/specialeffect.png" alt="SpecialEffect"/>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="where-wrapper">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1439 162">
    <path fill="#FAFAFA" fill-rule="evenodd"
          d="M1439 0c-65.34635 47.313797-157.35286 78.980464-276.01953 95C984.980469 119.029304 699 67.029304 461 82.029304 240.338064 95.936569 158.056382 140.76457 30.8945727 158.37993 20.9030912 159.76403 10.6345327 160.98011 0 162L-2 0h1441z"/>
  </svg>
  <section id="where" class="section">
    <div class="where-streaks">
      <div class="size-1 grad-4 op-58 pos-1 is-hidden-mobile"></div>
      <div class="size-2 grad-3 op-34 pos-2 is-hidden-mobile"></div>
      <div class="size-4 grad-2 op-58 pos-3 is-hidden-mobile"></div>
      <div class="size-3 grad-1 op-44 pos-4 is-hidden-mobile"></div>
    </div>
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12">
          <h1 class="title is-size-2">Event Info</h1>
          <hr class="title-divider"/>
        </div>
        {{ event_info }}
      </div>
    </div>
  </section>
  <svg id="event-bottom-mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 141">
    <path fill="#FAFAFA" fill-rule="evenodd"
          d="M0 .10914c87.12525 46.49599 178.68374 73.86863 274.67547 82.11792C418.66306 94.60099 740 24.0293 978 39.0293c220.661936 13.90727 302.943618 58.73527 430.1054273 76.35063 9.9914815 1.3841 21.26004 2.60018 31.8945727 3.62007v22H0V.10914z"/>
  </svg>
</div>
<section id="whats-on" class="section">
  <div class="container">
    <h1 class="title is-size-2">What's On</h1>
    <hr class="title-divider"/>
    <div class="content">
      <p>Due to the ongoing situation, we can't ensure upcoming events will be run in-person. Our next event, WASD Summer 2021, will be entirely remote. We hope to be able to run the next WASD event in person!</p>
    </div>
    <div class="whats-on-wrapper">
      {{ whats_on }}
    </div>
    <div class="columns" id="signupBottom">
      <div class="column is-8 is-offset-2">
        <div class="content has-text-centered">
          <p>Signups for WASD2021 have closed, but you can still take part by watching along on our <a href="https://twitch.tv/warwickspeedrun">Twitch channel</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 97">
    <path fill="#FAFAFA" fill-rule="evenodd"
          d="M1440.3432403 0H.343244l-.34324 16.74966c217.4358 50.48641 406.47299 77.16389 567.111578 80.03244 240.957881 4.30282 367.332301-78.67584 534.410157-86.05639 111.385237-4.92036 224.466019 3.39842 339.242345 24.95636L1440.3432403 0z"/>
  </svg>
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4 has-text-centered-mobile">
          <h3 class="socials-title is-size-4 title">Socials</h4>
            <ul class="socials">
              <li><a target="_blank" href="https://warwickspeed.run/discord"><i class="fab fa-discord"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/warwickspeedrun"><i class="fab fa-twitter"></i></a></li>
              <li><a target="_blank" href="https://twitch.tv/warwickspeedrun"><i class="fab fa-twitch"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/channel/UCrQLf-vqI47qzSWOeODR_6g"><i
                  class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <p>Copyright © University of Warwick Computing Society. Website built by <a target="_blank"
                                                                                        href="https://github.com/davidjrichardson">David
              Richardson</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
    {{ javascript }}
</script>
</body>
</html>
